
<script>
	$(document).ready(function() {
		$('#post-like').onClick(function(){
			$(this).css('opacity', 0);
			setTimeout(function(){
				$(#this).css('opacity', 1);
				},
				2000)});
	});
</script>

<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.full_name %>
</p>
<p>
  <strong>Tags:</strong>
  <% @post.categories.each do |cat|  %>
		<%= cat.title  %> |
	<% end %>
</p>

<% if can? :update, @post %>
	<%= link_to "Edit", edit_post_path %> |
	<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<div id="post-like">
  <%= render "/likes/like" %>
</div>

<div id="post-fav">
  <%= render "/favs/fav" %>
</div>

<div id="comment-form">
  <%= render "/comments/form", comment: @comment %>
</div>

<h2>Comments</h2>
<div id="comments">
	<% @post.comments.each do |com| %>
		<%= render "comments/comment", comment: com %>
	<% end %>
</div>


<!-- TODO add the likes here -->
