<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.full_name %>
</p>
<p>
  <strong>Tags:</strong>
  <% @post.categories.each do |cat|  %>
		<%= cat.title  %> |
	<% end %>
</p>

<% if can? :update, @post %>
	<%= link_to "Edit Post", edit_post_path, class: 'btn btn-success'%>
	<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>

<div id="post-like">
  <%= render "/likes/like" %>
</div>

<div id="comment-form">
	 <%= form_for @comment, url: post_comments_path(@post) do |f| %>
		   <%= f.text_area :body, size: '100x5'%>
		   <br>
		   <%= f.submit class: 'btn btn-primary'%>
	 <% end %>
 </div>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
   <p>
       <strong>Comment:</strong>
       <%= comment.body %>
       <% if can? :destroy, comment %>
         <%= link_to "Delete", post_comment_path(post_id: @post, id: comment), method: :delete, data: {confirm: "Are you sure?"} %>
       <% end %>
    </p>
<% end %>


<!-- TODO add the likes here -->
